.form {
  /* restante de tus estilos */
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -500px; /* posición inicial fuera de la pantalla */
  transition: bottom 0.3s ease; /* animación de transición suave */
}

.camp__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-form {
  bottom: 0;    bottom: 0;
  background-color: aliceblue;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0 1rem;
}

.a {
  display: flex;
  justify-content: center;
}
.dni {
  width: 4.5rem;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.numId {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.b {
  display: flex;
  justify-content: space-around;
  margin-top: .4rem;
}

.c {
  display: flex;
  justify-content: space-around;
  margin-top: .4rem;
}

.d {
  display: flex;
  justify-content: space-around;
  margin-top: .4rem;
}

.e {
  display: flex;
  justify-content: space-around;
  margin-top: .4rem;
}



.colum {
  height: auto;
  width: auto;
}

.agg_colaborador {
  margin: 0 .2rem;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  background-color: aliceblue;
  top: -6px;
  left: 5px;
  padding: 0 .3rem;
  font-size: .7rem;
  color: #28a745;
  z-index: 0;
}