.form {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -500px;
  box-shadow: 0 0 10px var(--color-shadow);
  transition: bottom 500ms ease-in-out;
}

.camp__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-form {
  bottom: 0;
  background-color: var(--color-label-form);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0 1rem;
  transition: all 700ms ease-in-out;
}

.a {
  display: flex;
  justify-content: center;
}
.dni {
  width: 4.5rem;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.numId {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.b {
  display: flex;
  justify-content: space-around;
  margin-top: .4rem;
}

.c {
  display: flex;
  justify-content: space-around;
  margin-top: .4rem;
}

.d {
  display: flex;
  justify-content: space-around;
  margin-top: .4rem;
}

.e {
  display: flex;
  justify-content: space-around;
  margin-top: .4rem;
}

.agg_colaborador {
  margin: 0 .2rem;
}

.input-field:focus + .label__form,
.input-field:not(:placeholder-shown) + .label__form {
  background-color: var(--color-label-form);
  top: -6px;
  left: 5px;
  padding: 0 .3rem;
  font-size: .7rem;
  color: var(--color-input-border-focus);
  z-index: 0;
}