.banner {
  position: fixed;
  height: 2.6rem;
  width: 79%;
  top: 0;
  right: 0;
  
  color: #484141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 700ms ease-in-out;
}

.nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.logo {
  flex-basis: 45%;
  width: 100%;
  height: 100%;
  margin-left: 4rem;
}

.logo-img {
  background-image: url(/src/img/logo_berlinas.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 170px;
  margin: 0;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
}
.logo-img:hover {
  filter: drop-shadow(0 1em 1em #646cffaa);
}

.title {
  flex-basis: 30%;
}

.logout {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}

.logout-figure {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.logout-div {
  display: flex;
  top: 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: 14rem;
  margin: -0.5rem 0;
  padding: 0;
}

.logout-user {
  flex-basis: 65%;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  text-align: end;
  margin: 0 15px 0 0;
  cursor: pointer;
  will-change: filter;
  transition: all 300ms ease-in-out;
}


.logout-Button {
  flex-basis: calc(30% - 10px);
  background-image: url(/src/img/user_verde.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  border: none;
  margin: 0;
  color: white;
  right: -3.5rem;
  will-change: filter;
  transition: all 300ms ease-in-out;
}
.logout-figure:hover .logout-Button {
  filter: drop-shadow(0 0 .3em #646cffaa);
}
.logout-figure:hover .logout-user {
  filter: drop-shadow(0 0 .5em #646cffaa);
  translate: 7px;
}
.menu-open .menu {
  display: none;
}

.menu-open .container {
  width: 100%;
}

.menu-open .banner {
  width: 100%;
}
.container-logout {
  position: relative;
  height: auto;
  width: 10rem;
  opacity: 0;
  top: 2.6rem;
  left: 1.5rem;
  color: transparent;
  background-color: lightgray;
  border-radius: 2rem 0 1rem 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out, transform 700ms ease-in-out;
}
.logout-figure:hover .container-logout {
  opacity: 1;
  height: auto;
  transform: translateY(-1.3rem);
}

.line {
  align-content: center;
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
  border-radius: 1rem;
  border: 0.5px solid lightslategray;
  opacity: 0.5;
}

/* Css para items del menu logout */
.container-items {
  height: 0; /* Estos dos debo pasarlos a 0*/
  width: 0;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  font-size: .8rem;
  margin: 0.75rem 0;
  padding: 0;
  transition: all 300ms ease-in-out;
}
.logout-figure:hover .container-items {
  height: 100%;
  width: 100%;
}

.item {
  display: none; /*Debo poner none*/
  height: 2rem;
  width: 100%;
  list-style: none;
  transition: all 300ms ease-in-out;
  border-radius: .8rem;
  transition: all 300ms ease-in-out;
}

.item:hover {
  background-color: darkgray;
}

.logout-figure:hover .item {
  display: flex;
}
.item-url {
  position: relative;
  margin: 0 1rem;
  top: 20%;
  color: #484141;
}
.item-url:hover {
  color: #635e5e;
}