.contabilidad__table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.contabilidad_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
