.menu-container {
  overflow-y: auto;
  position: absolute;
  width: 19.4%;
  height: 100%;
  background: var(--color-scrollbar);
  padding: 0px;
  margin: .6rem .3rem .4rem 0;
  bottom: 0rem;
  font-size: 1rem;
  /* Al eliminar lo siguiente se queda en un buen diseño */
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 7px 4px rgba(0,0,0,0.2);
  color: #484141;
  left: 0px;
  transition: all 710ms ease-in-out;
}

.menu-open .menu-container {
  width: 0%;
}

/* .menu-open .container {
  width: 100%;
} */

.menu-hamburgesa {
  background-image: url(/src/img/menu.png);
  background-repeat: no-repeat;
  background-color: #fff;
  height: 32px;
  width: 32px;
  position: absolute;
  left: 1rem;
  top: 0rem;
  cursor: grab;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
  transition: all 700ms ease-in-out, height 200ms ease-in-out;
}
.menu-hamburgesa:hover {
  height: 40px;
  border-top-left-radius: .3rem;
}
.menu-hamburgesa:active {
  cursor: grabbing;
}

.menu-open .menu-hamburgesa {
  transform: rotate(90deg);
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
}

.menu {
  margin: .7rem .5rem;
}

.menuItem {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.menuItem-item {
  display: flex;
  flex-direction: row;
  background-color: #A9A9A9;                                                                                                                                              ;
  margin: 7px 0 0;
  border-radius: .3rem;
  transition: all 300ms ease-in;
}
.menuItem-item:hover {
  transform: scale(1.01);
}

.menuItem-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.menuItem-open {
  flex-basis: 10%;
  position: relative;
  background-image: url(/src/img/open.png);
  background-repeat: no-repeat;
  background-size: 1rem;
  width: 24px;
  height: 24px;
  top: 5px;
  padding-right: 5px;
  transform: rotate(0deg);
  transition: all 100ms ease-in-out;
}
.menuItem-item:active .menuItem-open {
  translate: 0 7px;
}
.menuItem-item:active .menu-openmenu {
  translate: 0 -7px;
}

.menu-openmenu {
  transform: rotate(180deg);
  top: -3px;
  transform: scaleY(-1);
}

.menuItem-label {
  flex-basis: 75%;
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.subMenu {
  background-color: transparent;
  list-style: none;
  padding-left: 15px;
  margin: 0px 0 12px;
  border-bottom-right-radius: .5rem;
  transition: all 300ms ease-in-out;
}

.subMenu-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: .1rem;
  padding: .2rem;
  transition: all 300ms ease-in-out;
}
.subMenu-item:hover {
  transform: translateX(1px);
  border-radius: .2rem;
  background-color: #a9a9a9;
}

.active {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 .2rem .2rem 0;
}

.active:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.subMenu-img {
  height: 24px;
  width: 24px;
  margin: 0 .4rem 0 .2rem;
}

.subMenu-url {
  flex-basis: 100%;
  color: #484141;
  font-size: .8rem;
  /* background-color: #1cc88a;
  border-radius: .4rem; */
}
.subMenu-url:hover {
  color: #635e5e;
}

.menuItem__icon {
  margin: 0 .2rem;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 300ms ease-in-out, scale 40ms ease-in-out;
}
/* .menuItem-div:hover .menuItem__icon, */
.subMenu-item:hover .menuItem__icon {
  transform: scale(1.2);
}
.subMenu-item:active .menuItem__icon {
  scale: 0.7;
}

.administracion {
  background-image: url(../img/administracion.png);
}
.administracion_col {
  background-image: url(../img/administracion_col.png);
}
.admin_user {
  background-image: url(../img/admin_user.png);
}
.pruebas {
  background-image: url(../img/pruebas.png);
}
.pruebas2 {
  background-image: url(../img/pruebas2.png);
}
.rf {
  background-image: url(../img/rf.png);
}
.tabla {
  background-image: url(../img/tabla.png);
}
.reportes {
  background-image: url(../img/reportes.png);
}
.reporte {
  background-image: url(../img/reporte.png);
}
.turismo {
  background-image: url(../img/icons_menu/turismo.png);
}
.contabilidad {
  background-image: url(../img/icons_menu/contabilidad.png);
}
.rptocontabilidad {
  background-image: url(../img/icons_menu/rptocontabilidad.png);
}
.alcoholimetria {
  background-image: url(../img/icons_menu/alcoholimetria.png);
}
.operaciones {
  background-image: url(../img/icons_menu/operaciones.png);
}
.viajes {
  background-image: url(../img/icons_menu/viajes.png);
}
.busquedafecha {
  background-image: url(../img/icons_menu/busquedafecha.png);
}
.pasajeros {
  background-image: url(../img/icons_menu/pasajeros.png);
}
.combustible {
  background-image: url(../img/icons_menu/combustible.png);
}
.estadisticas {
  background-image: url(../img/icons_menu/estadisticas.png);
}
.tiqconvenios {
  background-image: url(../img/icons_menu/tiqconvenios.png);
}
.planeacion {
  background-image: url(../img/icons_menu/planeacion.png);
}
.ocupacionlineas {
  background-image: url(../img/icons_menu/ocupacionlineas.png);
}
.clientesf {
  background-image: url(../img/icons_menu/clientesf.png);
}
.clientesd {
  background-image: url(../img/icons_menu/clientesd.png);
}
.tiquetes_cmr {
  background-image: url(../img/icons_menu/tiquetes_cmr.png);
}
.dominicales {
  background-image: url(../img/icons_menu/dominicales.png);
}
.novedades {
  background-image: url(../img/icons_menu/novedades.png);
}
.conductor {
  background-image: url(../img/icons_menu/conductor.png);
}
.comercial {
  background-image: url(../img/icons_menu/comercial.png);
}
.estadistica {
  background-image: url(../img/icons_menu/estadistica.png);
}
.certificacion {
  background-image: url(../img/icons_menu/certificacion.png);
}
.boletos {
  background-image: url(../img/icons_menu/boletos.png);
}
.domicilios {
  background-image: url(../img/icons_menu/domicilios.png);
}
.est_ventas {
  background-image: url(../img/icons_menu/est_ventas.png);
}
.viaje_persona {
  background-image: url(../img/icons_menu/viaje_persona.png);
}
.otros {
  background-image: url(../img/icons_menu/otros.png);
}
.viaje_persona {
  background-image: url(../img/icons_menu/viaje_persona.png);
}
.migracion {
  background-image: url(../img/icons_menu/migracion.png);
}
.rpto_migracion {
  background-image: url(../img/icons_menu/rpto_migracion.png);
}
.puntoventa {
  background-image: url(../img/icons_menu/puntoventa.png);
}
.vendido {
  background-image: url(../img/icons_menu/vendido.png);
}
.bogota {
  background-image: url(../img/icons_menu/bogota.png);
}
.ventas {
  background-image: url(../img/icons_menu/ventas.png);
}
.microseguros {
  background-image: url(../img/icons_menu/microseguros.png);
}
.aseguradora {
  background-image: url(../img/icons_menu/aseguradora.png);
}
.tiquetes_microseguro {
  background-image: url(../img/icons_menu/tiquetes_microseguro.png);
}
.biometrico {
  background-image: url(../img/icons_menu/biometrico.png);
}
.rptobiometrico {
  background-image: url(../img/icons_menu/rptobiometrico.png);
}
.tesoreria {
  background-image: url(../img/icons_menu/tesoreria.png);
}
.comision {
  background-image: url(../img/icons_menu/comision.png);
}
.rpto_microseguros {
  background-image: url(../img/icons_menu/rpto_microseguros.png);
}
.seguridadsalud {
  background-image: url(../img/icons_menu/seguridadsalud.png);
}
.segurida_vial {
  background-image: url(../img/icons_menu/segurida_vial.png);
}