/* styles.css */
body {
    overflow-y: hidden;
}
.banner {
    position: fixed;
    height: 3rem;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .logoutButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  