.form {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(5, 3rem);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.a {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
}
.dni {
  width: 4.5rem;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.numId {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.b {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
}
.nom {
  width: 7rem;
}

.c {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
}
.dir {
  margin-right: 3rem;
  width: 17rem;
}

.d {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
}
.tel {
  margin-right: 3rem;
}

.e1 {
  grid-row: 5;
  grid-column: 1;
}
.e2 {
  grid-row: 5;
  grid-column: 2;
}
.e3 {
  grid-row: 5;
  grid-column: 3;
}

/* Estilos para los campos planos */
.cedula {
  width: 5rem;
}
.name {
  width: 8rem;
}
.tele {
  width: 5rem;
}
.dire {
  width: 9rem;
}
.correo {
  width: 12rem;
}
.rol {
  width: 7rem;
}
.empresa {
  width: 10rem;
}
.cont {
  width: 5rem;
}
.ciudad {
  width: 6rem;
}
