@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.otf') format('woff2');
  /* Puedes agregar más formatos de fuente si lo deseas, como woff, ttf, etc. */
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-scrollbar: #D3D3D4;
  --color-background-scrollbar: #eee;
}

body {
  overflow-y: hidden;
  background-color: #1CC88A;
  user-select: none;
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.menu-open .menu {
  display: none;
}

.menu-open .container {
  width: 100%;
}

/* Estilos para el checkbox personalizado */
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

/* Estilo del ícono de verificación */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 2px solid #3498db;
  border-radius: 3px;
}

.custom-checkbox input:checked ~ .checkmark:after {
  content: '\2713';
  font-size: 16px;
  color: #3498db;
  position: absolute;
  top: -3px;
  left: 2px;
}

.custom-checkbox:hover .checkmark {
  background-color: #f2f2f2;
}

.submit-button {
  background: linear-gradient(to right, #1CC88A, #21A3A2);
  color: white;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 1px 4px 5px -2px rgba(28,200,138,0.49);
  transition: background 5s ease-in-out, transform 0.3s ease;
}

.submit-button:hover {
  background: linear-gradient(to right, #21A3A2, #1CC88A);
  transform: scale(1.023);
}

.submit-button:active {
  background: linear-gradient(to right, #1CC88A, #21A3A2);
  transform: scale(1);
}

.opciones {
  width: auto;
  padding: 6px;
  border: 1px solid #1d8034;
  border-radius: 5px;
  background-color: transparent;
  color: #333;
  font-size: 14px;
  outline: none;
}

.opciones:focus {
  border-color: #1CC88A;
  box-shadow: 0px 0px 5px #1CC88A;
}

/* Diseño para boton desplegable con busqueda */
.select {
  width: 20rem;
}
.css-13cymwt-control {
  border-color: #1d8034 !important;
}
.css-t3ipsp-control:focus {
  border-color: #1CC88A !important;
}
.css-t3ipsp-control {
  border-color: #1CC88A !important;
  box-shadow: 0 0 0 1px #1CC88A !important;
}
.css-1jqq78o-placeholder {
  font-size: .8rem !important;
}
/* Clase para Texto del desplegable */
.css-1dimb5e-singleValue {
  font-size: .8rem !important;
}

/* Estilos para notificaciones exitosas */
.notificaciones {
  position: fixed;
  right: 3rem;
  bottom: 1rem;
  margin: 0;
  padding: 0;
  height: auto;
  width: 20rem;
  opacity: 0.8;
  transition: all 300ms ease-in-out;
}
.registro_ok {
  display: flex;
  background-color: #1CC88A;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: .5rem;
  color: #000;
  opacity: 1;
  align-items: center;
}
.imgnoti {
  height: 32px;
  width: 32px;
  margin: 0 0.5rem;
}

/*Estilos para los campos planos*/
.campo_plano {
  height: auto;
  width: auto;
}

.red {
  background-color: red;
}



/* Estilos para las tablas */
.select__tb {
  outline: none;
  border: none;
  font-size: .7rem;
}

td input {
  font-size: .6rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
}

.tr {
  padding: 0;
  margin: 0;
  font-size: .9rem;
  transition: all 300ms ease-in-out;
  height: 1.4rem !important;

}
.tr:hover {
  background-color: lightgray;
}
td {
  height: 1rem;
  min-height: 1rem;
  max-height: 1rem;
  padding: 0;
  margin: 0;
}
th, td {
  border: 1px solid lightgray;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.colum {
  width: auto;
  max-width: 2rem;
}

.buttoms-sc {
  display: flex;
  flex-direction: row;
  font-size: .7rem;
  width: 5rem;
  height: 100%;
  border: none;
}

.buttom__red {
  background-color: rgb(245, 96, 96) !important;
}
.buttom__orange {
  background-color: lightsalmon !important;
}

.buttom {
  padding: 0;
  margin: 0 .1rem;
  height: 1rem;
  width: 3rem;
  background-color: #1CC88A;
  border-radius: .2rem;
  border: none;
  outline: none !important;
  transition: all 300ms ease-in-out;
}
.buttom:hover {
  transform: scale(0.9);
}
.buttom:active {
  transform: scale(0.9);
}

.search {
  width: 15rem;
  margin-bottom: .5rem;
}

.container__table {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  transition: all 300ms ease-in-out;
}

.filas__container {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
  /* transition: all 300ms ease-in-out;
  width: calc(100% - 3rem); */
}

.title__campos {
  font-size: 1rem;
  background-color: #A9A9A9;
}


.campo__input {
  width: 100%;
  text-align: center;
  font-size: .9rem;
}


/* Estilos para el input de busqueda */
.search {
  width: 15rem !important;
  margin-bottom: .5rem !important;
}

.fijo {
  width: 5rem;
  background-color: #fff;
  border: none;
}

/* Estilos para botones de agregar usuarios o eliminar */
.agregar {
  display: flex;
  position: fixed;
  bottom: 1rem;
  padding: 0;
  outline: none;
  border: none;
  align-items: center;
  outline: none;
  transition: all 300ms ease-in-out;
}

.agregar:hover {
  transform: scale(1.1);
}
.agregar:active,
.agregar:focus {
  outline: none;
}